.carousel-item{
  background-image: url('src/assets/background-image.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item h2{
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  animation: flotar 2s infinite;
}

.item-2{
  background-image: url('src/assets/background-image2.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  transition: transform 0.5s ease-in-out;
}

.item-3{
  background-image: url('src/assets/background-image3.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  transition: transform 0.5s ease-in-out;
}

.text-carousel{
  margin-top: 14rem;
}

/* Keyframes */
@keyframes flotar {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .d-flex.flex-row.mb-3.justify-content-between.flex-wrap.gap-5 {
    justify-content: center!important;
  }
}