.navbar-brand img {
  width: 55px;
}

/* App.css */

.fixed-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (min-width: 768px) {
  /* Agrega estos estilos a tu hoja de estilos CSS */
  .img-home {
    max-width: 100px; /* Ajusta el valor según el tamaño deseado */
    height: auto; /* Esto asegura que la imagen mantenga su proporción */
  }

  .navbar-brand img {
    width: 12px;
  }
}
