.img-home{
    width: 7rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-home{
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 768px) {
    .img-home{
        width: 5rem;
        height: 5rem;
    }
}